/* PF Din Text Pro is used for the display of numerals. */
/* line 48, ../sass/_type.scss */
html.harmony {
  /* The standard browser default font is typically set to 16 pixels. Scaling the HTML element down to 10 pixels
     allows us to use rem units to approximate pixel sizing, while keeping relative sizing. (e.g., 1.2rem = 12px) */
  font-size: 62.5%;
}

/* line 54, ../sass/_type.scss */
body.harmony {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #404040;
}
/* line 60, ../sass/_type.scss */
body.harmony header {
  font-size: 1.4rem;
}
/* line 64, ../sass/_type.scss */
body.harmony h1 {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 2.6rem;
}
/* line 69, ../sass/_type.scss */
body.harmony h2 {
  font-size: 2rem;
}
/* line 73, ../sass/_type.scss */
body.harmony h3 {
  font-size: 1.8rem;
}
/* line 77, ../sass/_type.scss */
body.harmony h4 {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 1.4rem;
}
/* line 82, ../sass/_type.scss */
body.harmony input {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1.2rem;
}
/* line 87, ../sass/_type.scss */
body.harmony .numeral {
  font-family: "PFDinTextProRegular", "PFDinTextPro-Regular", "PFDinTextPro", "PF DinText Pro", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  letter-spacing: -0.025em;
}

/* line 21, ../sass/kalendae.scss */
.kalendae {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 10px;
  margin: 5px;
  font-size: 1.2rem;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  cursor: default;
  position: relative;
  border: 1px solid #cccccc;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
}
/* line 39, ../sass/kalendae.scss */
.kalendae.k-floating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  margin: -20px 0 0 10px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}
/* line 46, ../sass/kalendae.scss */
.kalendae.k-floating .k-notch {
  position: absolute;
  top: 20px;
  left: -10px;
  margin: 0;
  border-top: 10px solid transparent;
  border-left: 0;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
}
/* line 58, ../sass/kalendae.scss */
.kalendae.k-floating .k-notch:before {
  content: "\20";
  position: absolute;
  top: -10px;
  left: -1px;
  margin: 0;
  border-top: 10px solid transparent;
  border-left: 0;
  border-right: 10px solid #cccccc;
  border-bottom: 10px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
/* line 74, ../sass/kalendae.scss */
.kalendae.k-floating .k-notch:after {
  content: "\20";
  position: absolute;
  top: -8px;
  left: -1px;
  margin: 0;
  border-top: 10px solid transparent;
  border-left: 0;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
  z-index: -2;
}
/* line 94, ../sass/kalendae.scss */
.kalendae .k-calendar {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 196px;
  vertical-align: top;
}
/* line 103, ../sass/kalendae.scss */
.kalendae .k-separator {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 2px;
  vertical-align: top;
  background: #dddddd;
  height: 155px;
  margin: 0px 10px;
}
/* line 115, ../sass/kalendae.scss */
.kalendae .k-title {
  text-align: center;
  white-space: nowrap;
  position: relative;
  height: 50px;
}
/* line 121, ../sass/kalendae.scss */
.kalendae .k-caption {
  font-size: 1.8rem;
}
/* line 123, ../sass/kalendae.scss */
.kalendae .k-caption .k-title-year {
  display: block;
  font-size: 1.2rem;
  line-height: 12px;
  margin-bottom: 5px;
}
/* line 135, ../sass/kalendae.scss */
.kalendae .k-btn-previous-month,
.kalendae .k-btn-next-month,
.kalendae .k-btn-previous-year,
.kalendae .k-btn-next-year {
  display: block;
  width: 9px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 18px;
}
/* line 162, ../sass/kalendae.scss */
.kalendae .k-btn-previous-month {
  left: 20px;
  background: url('../img/icons-s2b11c90dfb.png') 0 -1534px no-repeat;
  /*
  		&:after {
  			content: "\2039";
  		}
  		&:hover {
  			color: #7EA0E2;
  		}
  */
}
/* line 174, ../sass/kalendae.scss */
.kalendae .k-btn-next-month {
  right: 20px;
  background: url('../img/icons-s2b11c90dfb.png') 0 -1479px no-repeat;
  /*
  		&:after {
  			content: "\203A";
  		}
  		&:hover {
  			color: #7EA0E2;
  		}
  */
}
/* line 195, ../sass/kalendae.scss */
.kalendae .k-first-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-next-month,
.kalendae .k-middle-month .k-btn-previous-month,
.kalendae .k-last-month .k-btn-previous-month,
.kalendae .k-first-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-next-year,
.kalendae .k-middle-month .k-btn-previous-year,
.kalendae .k-last-month .k-btn-previous-year {
  display: none;
}
/* line 201, ../sass/kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-next-year,
.kalendae .k-title.k-disable-year-nav .k-btn-previous-year {
  display: none;
}
/* line 204, ../sass/kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-next-month {
  right: 20px;
}
/* line 207, ../sass/kalendae.scss */
.kalendae .k-title.k-disable-year-nav .k-btn-previous-month {
  left: 20px;
}
/* line 214, ../sass/kalendae.scss */
.kalendae .k-title,
.kalendae .k-header,
.kalendae .k-days {
  width: 196px;
  display: block;
  overflow: hidden;
}
/* line 220, ../sass/kalendae.scss */
.kalendae .k-header {
  border-bottom: 1px solid #3965ce;
}
/* line 228, ../sass/kalendae.scss */
.kalendae.k-disable-next-month-btn .k-btn-next-month, .kalendae.k-disable-previous-month-btn .k-btn-previous-month, .kalendae.k-disable-next-year-btn .k-btn-next-year, .kalendae.k-disable-previous-year-btn .k-btn-previous-year {
  display: none;
}
/* line 234, ../sass/kalendae.scss */
.kalendae .k-header span,
.kalendae .k-days span {
  margin: 1px 1px;
}
/* line 238, ../sass/kalendae.scss */
.kalendae .k-header span {
  display: inline-block;
  text-align: center;
  height: 22px;
  width: 26px;
  box-sizing: border-box;
  line-height: 22px;
  color: #404040;
}
/* line 248, ../sass/kalendae.scss */
.kalendae .k-days span {
  display: inline-block;
  height: 22px;
  width: 26px;
  box-sizing: border-box;
  text-align: center;
  line-height: 22px;
  color: #404040;
}
/* line 258, ../sass/kalendae.scss */
.kalendae .k-days span.k-in-month {
  color: white;
  background: #dddddd url('../img/icons-s2b11c90dfb.png') 0 -1251px no-repeat;
}
/* line 260, ../sass/kalendae.scss */
.kalendae .k-days span.k-in-month.k-active {
  color: #404040;
  background-color: white;
  background-image: none;
  cursor: pointer;
}
/* line 263, ../sass/kalendae.scss */
.kalendae .k-days span.k-in-month.k-active:hover {
  color: #404040;
  background-color: #e3eaf3;
  background-image: none;
}
/* line 266, ../sass/kalendae.scss */
.kalendae .k-days span.k-in-month.k-active.k-notable {
  color: #e77b07;
  background-color: white;
  background-image: none;
}
/* line 273, ../sass/kalendae.scss */
.kalendae .k-days span.k-out-of-month {
  color: #dddddd;
  background-color: white;
  background-image: none;
}
/* line 278, ../sass/kalendae.scss */
.kalendae .k-days span.k-selected {
  color: #dddddd;
  background-color: white;
  background-image: none;
}
/* line 283, ../sass/kalendae.scss */
.kalendae .k-days span.k-selected.k-active {
  color: white;
  background-color: #3965ce;
  background-image: none;
}
/* line 285, ../sass/kalendae.scss */
.kalendae .k-days span.k-selected.k-active.k-notable {
  color: white;
  background-color: #e77b07;
  background-image: none;
}
/* line 305, ../sass/kalendae.scss */
.kalendae .k-today {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
}